
.colum2 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 0 0 20%;
}

.text{
    margin: 5rem;
    color: black;
}

.ProjectsPace{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Referencespace{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.Experiencespace{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


