.ContentProject{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    background-color: #39a900;
    border-radius: 1rem;
    width: 40%;
    height: 30vh;
}
.Imgspace{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Developimg{
    width: 80%;
    height: 60%;
    border-radius: 1rem;
}

.TextCub{
    padding: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}



.TitleProject{
    margin: 0;
    font-size: 3rem;
    color: white;
}



.TextProject{
    max-height: 5rem;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 15px;
    color: white;
}

.TextProject::-webkit-scrollbar{
    width: 1rem;
}

.TextProject::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

.TextProject::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 5px;
}
.LinkProject{
    font-size: 2rem;
    color: white;
}